<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdMnqCZ4suq0QRoBf4muSKRpPGnz7a1SE</string>
	<key>GCM_SENDER_ID</key>
	<string>70132643190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vybestyle.zamu</string>
	<key>PROJECT_ID</key>
	<string>zamu-dcffa</string>
	<key>STORAGE_BUCKET</key>
	<string>zamu-dcffa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70132643190:ios:4c6ba5c69720d4c729f657</string>
</dict>
</plist>